body {
    box-sizing: border-box;
}

:root {
    --main-text-color: pink;
}

.container {
    margin: auto;
    width: 40%;
}

h1 {
    color: var(--main-text-color);
    text-align: center;
    font-size: 3em;
}

.input-group {
    margin: 30px;
    text-align: center;

}

input[type=text] {
    outline: none;
    border: gray solid 1px;
    width: 50%;
    padding: 8px;
}

input[type=button] {
    border: none;
    padding: 8px;
    width: 60px
}

.todo-list {
    background-color: antiquewhite;
    height: 120px;
    
}

.todo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 197, 197);
    padding: 12px;
    font-size: 1.2em
}

.todo-item {
    
}

.todo-action {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 786px) {

    .container {
        margin: auto;
        width: 80%;
    }
    
}