body {
    box-sizing: border-box;
    align-items: center;
}

:root {
    --main-text-color: pink;
}

.container {
    margin: auto;
<<<<<<< HEAD
    width: 60%;
    align-items: center;
=======
    width: 40%;
>>>>>>> 0028b107e3e82dbe966c44c59f5da30fae2b51ff
}

h1 {
    color: var(--main-text-color);
    text-align: center;
    font-size: 3em;
    align-items: center;
}

.input-group {
    margin: 30px;
    text-align: center;
    align-items: center;

}
button{
    width: 61px;
    height: 21px;
    outline: none;
    border: none;
}

input[type=text] {
    outline: none;
    border: gray solid 1px;
    width: 50%;
    padding: 8px;
}

input[type=button] {
    border: none;
    padding: 8px;
    width: 60px
}

.todo-list {
    background-color: antiquewhite;
    height: 120px;
    align-items: center;
    
}

.todo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 197, 197);
    padding: 11px;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
}

.todo-item {
    
}

.todo-actions {
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
a {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(202, 198, 198);
    margin: 2px;
}
=======
@media screen and (max-width: 786px) {

    .container {
        margin: auto;
        width: 80%;
    }
    
}
>>>>>>> 0028b107e3e82dbe966c44c59f5da30fae2b51ff
