<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <title>Document</title>
</head>
<body>
    <header class="todo-header container">
        <h1>Todo App</h1>
    </header>


    <form action="/todo", method = 'post'>
        <main class="container">
            <div class="input-group">
                
                    <input type="text" name="description" placeholder="Enter todo...">
                    <button type="submit" >	&#8594</button>
            </div>
    </form>

       
        {% for todo in todo_list %} 
            <div class="todo-list">
                <div class="todo">
                    <div class="todo-item">
                        <span>{{ todo.id }} | {{ todo.description }}</span>
                    </div>
                        {% if todo.complete != False %}
                                <span> Completed</span>
                        {% else %}
                                <span>Not completed</span>
                        {% endif %}

                    <div class="todo-actions">
                        <a href="/update/{{ todo.id }}">Update</a>

                        <a href="/">Delete</a>
                    </div>    
                
            </div>
        {% endfor %}        

    </main>
    
</body>
</html>